# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Build
dist/
build/
*.egg-info/

# generated version file
src/nml_tools/_version.py

# Editors
.vscode/

# Own files
info/
