name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Upgrade pip/setuptools/wheel/hatchling
        run: python -m pip install -U pip setuptools wheel hatchling coveralls
      - name: Install dev deps
        run: python -m pip install -vv ".[dev]"
      - name: Ruff
        run: ruff check .
      - name: Mypy
        run: mypy src
      - name: Pytest with coverage
        run: python -m pytest --cov nml_tools --cov-report term-missing -v tests/
      - name: Upload coverage to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python -m coveralls
